*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: url(../assets/travel.jpg) center/cover no-repeat;
}

h1{
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 64px;
    color: rgba(21, 23, 24, 1);
}

p{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-bottom: 72px;
}

span{
    color: rgba(219, 39, 119, 1);
}

a{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 409px;   
    height: 56px;
    text-decoration: none;
    color: black;
    font-family: 'Cinzel', serif;
    font-size: 20px;
}

.now{
    background: rgba(219, 39, 119, 1);
    padding: 16px 32px;
    color: white;
    border-radius: 80px;
}